/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12.03.2019, 10:42:07
    Author     : DEETMUMI
*/
main{
    background-color: green;
}
h1{
    font-size: 4pt;
    color: green;
}
