/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12.03.2019, 10:42:07
    Author     : DEETMUMI
*/
h1{
    font-size: 12pt;
    color: green;
}



a{
    border: 3px solid #FFFFFF;
    border-radius: 5px;
}
