/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12.03.2019, 10:42:07
    Author     : DEETMUMI
*/
#kursiv{
    font-family: cursive;
    font-style: italic;
    font-size: 20pt;
    color: burlywood;
}
#background{
	background-image: url("https://images.pexels.com/photos/1036856/pexels-photo-1036856.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	background-repeat: no-repeat;
        background-position: center center ;
        background-size: auto;
        width: 100%;
        height: 100%;
}   

#tab{
    border: 4px solid #FFFFFF;
    border-radius: 3px;
}

a,p{
    color: #FFFFFF;
}
