/* Sternebewertung */  

.images {
    width: 400px;
    height: 400px;
}

.tkommentar{
    resize: none;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
}
.anzeige{
    
}
.einzeln{
    width:410px;
    border: 3px solid black !important;
    padding: 2px;
    margin-left: 20%;
    margin-right: auto;
    margin-bottom: 2%;
    margin-top: 2%;
    background-color: rgba(256,256,256,0.9);
        
}


.kommentarbtn{
  background-color: rgba(255, 0, 0, 0.0) !important; 
  border: none; 
  color: black !important; 
  padding: 3px 20px;
  padding-left: 0;
  font-size: 100%; 
  cursor: pointer; 
  margin-left: 3%;
  
}

.sterne{
    float: right;
    color:black !important;
    text-align: right;
    
}

.username{
    float:left;
    color:black !important;
}

.kommentardisplay{
    color:black !important;
    float:left;
    margin-left: 2%;
}

.beschreibungsdisplay{
    color: black !important;
    margin-left: 2%;
    
}
.bewerte5, .bewerte4, .bewerte3, .bewerte2, .bewerte1{
    color:grey;
    background-color: rgba(255, 0, 0, 0.0);
    font-size: 100%; 
    cursor: pointer; 
    margin-left: 1%;
    margin-right: 1%;
    border:none;
}
.bewerte5:hover, .bewerte4:hover, .bewerte3:hover, .bewerte2:hover, .bewerte1:hover{
    color: yellow;
}
.star{
    color: orange;
    display:inline;
    font-size: 1.2em;
}